<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>sticky-note</title>
      <link rel="stylesheet" href="index.css">
  </head>
  <body>
          <header>
              <a href="javascript:void(0)" class="btn add">添加</a>
              <ul class="user-data">
                  <% if(isLogin){ %>
                     <li><img src="<%= user.avatar %>" alt=""></li>
                     <li><span title="<%= user.username %>"><%= user.username%></span></li>
                     <li>|</li>
                     <li><a href="/auth/logout" class="logout">注销</a></li>
                  <%} else{ %>
                     <li><a href="/auth/github" class="btn login">github登录</a></li>
                  <% }%>
              </ul>
          </header>
          <main id="content">

          </main>
  <script src="/index.js"></script>
  </body>
</html>
<!--与后台约定接口信息-->
<!--1、获取所有note /api/notes  get  req { status:0,data:[]} {status:1,errorMsg:"失败的原因"}-->
<!--2、创建一个note /api/note/create {note:"hello world"}  post-->
<!--3、修改一个note /api/note/edit {id: 1,note:"edit one"} post-->
<!--4、删除一个note /api/note/delete {id:1} post-->